<%= rails_admin_form_for @object, url: suspend_path(model_name: @abstract_model.to_param, id: @object.id), as: @abstract_model.param_key, html: { method: :post } do |form| %>
  <div class="form-group">
    <h3>Suspend User: <%= @object.email_address %></h3>
    <p>Are you sure you want to suspend this user? They will not be able to log in until the suspension is lifted.</p>
    
    <div class="form-group">
      <%= label_tag :suspension_reason, "Suspension Reason", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <%= text_area_tag :suspension_reason, nil, class: "form-control", rows: 4, required: true, placeholder: "Please provide a reason for the suspension..." %>
      </div>
    </div>
  </div>
  
  <div class="form-actions">
    <button type="submit" class="btn btn-danger">
      <i class="fa fa-ban"></i> Suspend User
    </button>
    <%= link_to "Cancel", back_or_index, class: "btn btn-default" %>
  </div>
<% end %>